<div class="main-container">

  <div class="picture-contact">

    <div class="picture">

    <div class=" background-image background"
    [ngStyle]="{'background-image': 'url(' + profile.picturelink + ')'}"
    >

    </div>

    </div>

    <div class="contact">

    </div>

  </div>

  <div class="name-title-desc">
    <div class="name-title">

      <div class="name">
     <h1>{{profile.name}}</h1>
      </div>
      <div class="title">
      <p>{{profile.title}}</p>
      </div>

    </div>

    <div class="desc">
    <p>{{profile.description}}</p>
    </div>

  </div>




  </div>

