

<header >

  <nav class="nav1">
  <div class="logo-main">
    <img src="..\assets\images\pp-removebg.png" alt="" class="logo">
    <h1>TM<span class="title">Attorneys</span></h1>

  </div>
  </nav>
  <div class="hero-svg-background">

  </div>

  <div class="hero-serive">
    <div class="hero-title">SERVICES AND SUPPORT
    </div>
    <div class="hero-subtitle">
      <h1>Get the help you need </h1>
      <p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nisi itaque hic ullam assumenda blanditiis sequi quae, rem id dolorum quod eum eligendi nemo
    </p>
    </div>

  </div>



</header>

<div class="transition-sec ">
  <div class="container-fluid">
<div class="row transition-hype">
<div class="transition-hype-title">Premium Customer Services</div>
<div class="transition-hype-text"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum optio sequi pariatur necessitatibus numquam dignissimos doloribus, ipsa voluptatum saepe repellat mollitia labore</p></div>
</div>

<div class="row justify-content-start achievement">

  <div class="col-md-4 col-sm-12 acheivement-card">
    <div class="achievement-card-real" data-aos="fade-left">

      <!-- <div class="achiev-image">
        <div class="donut-div">

        </div>


      </div> -->

      <div class="svg-item " >
        <svg width="100%" height="100%" viewBox="0 0 40 40" class="donut" id="donut">
          <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
          <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="1.5"></circle>
          <circle class="action" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="1.5" stroke-dasharray="95 5" stroke-dashoffset="25"></circle>
          <g class="donut-text donut-text-1">

            <text y="50%" transform="translate(0, 2)">
              <tspan x="50%" text-anchor="middle" class="donut-percent">95%</tspan>
            </text>
            <text y="63%" transform="translate(0, 2)">
              <tspan x="50%" text-anchor="middle" class="donut-data">customer retention</tspan>
            </text>
          </g>
        </svg>
      </div>

      <div class="achiev-title">
      Your Effective Parter
      </div>

      <div class="achiev-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt illo pariatur cumque tempora, quo possimus sed voluptatem aliquid inventore molestias eius cupiditate iusto, soluta temporibus eos, modi deleniti minus ab?</p>
      </div>
      </div>
</div>
  <!-- <div class="col-md-4 col-sm-12 acheivement-card">

    <div class="achievement-card-real">

      <div class="achiev-image">
        <div class="donut-div">
          <img src="assets\images\donut-chart-98.svg" alt="" class="donut">
        </div>

        <div class="percentage">98%</div>
        <div class="perc-text">customer satisfaction</div>
      </div>

      <div class="achiev-title">
      Your Effective Parter
      </div>

      <div class="achiev-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt illo pariatur cumque tempora, quo possimus sed voluptatem aliquid inventore molestias eius cupiditate iusto, soluta temporibus eos, modi deleniti minus ab?</p>
      </div>
      </div>


  </div> -->
  <div class="col-md-4 col-sm-12 acheivement-card">

    <div class="achievement-card-real" data-aos="fade-left">

      <!-- <div class="achiev-image">
        <div class="donut-div">

        </div>


      </div> -->

      <div class="svg-item " >
        <svg width="100%" height="100%" viewBox="0 0 40 40" class="donut" id="donut">
          <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
          <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="1.5"></circle>
          <circle class="action2" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="1.5" stroke-dasharray="98 2" stroke-dashoffset="25"></circle>
          <g class="donut-text donut-text-1">

            <text y="50%" transform="translate(0, 2)">
              <tspan x="50%" text-anchor="middle" class="donut-percent">98%</tspan>
            </text>
            <text y="63%" transform="translate(0, 2)">
              <tspan x="50%" text-anchor="middle" class="donut-data">customer satification</tspan>
            </text>
          </g>
        </svg>
      </div>

      <div class="achiev-title">
      Your Effective Parter
      </div>

      <div class="achiev-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt illo pariatur cumque tempora, quo possimus sed voluptatem aliquid inventore molestias eius cupiditate iusto, soluta temporibus eos, modi deleniti minus ab?</p>
      </div>
      </div>

  </div>

  <div class="col-md-4 col-sm-12 acheivement-card">

    <div class="achievement-card-real" data-aos="fade-left">

      <!-- <div class="achiev-image">
        <div class="donut-div">

        </div>


      </div> -->

      <div class="svg-item " >
        <svg width="100%" height="100%" viewBox="0 0 40 40" class="donut" id="donut">
          <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
          <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="1.5"></circle>
          <circle class="action3" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="1.5" stroke-dasharray="85 15" stroke-dashoffset="25"></circle>
          <g class="donut-text donut-text-1">

            <text y="50%" transform="translate(0, 2)">
              <tspan x="50%" text-anchor="middle" class="donut-percent">85%</tspan>
            </text>
            <text y="63%" transform="translate(0, 2)">
              <tspan x="50%" text-anchor="middle" class="donut-data">customer service</tspan>
            </text>
          </g>
        </svg>
      </div>

      <div class="achiev-title">
      Your Effective Parter
      </div>

      <div class="achiev-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt illo pariatur cumque tempora, quo possimus sed voluptatem aliquid inventore molestias eius cupiditate iusto, soluta temporibus eos, modi deleniti minus ab?</p>
      </div>
      </div>

  </div>


</div>
</div>
</div>
 <!-- nav2 -->

 <div class="nav2 " id="navstick">

  <div class="logo-on-fix-div">
    <a href="#" class="logo-on-fix">logo</a>
  </div>

  <div>

 <ul class="main-nav2 border-page" >
   <!-- <li><a href="#" [class.selected]="scroll >=0 && scroll <datasection ">Debt collection<br>and Account Management</a></li> -->

    <li><a href="#" [ngClass]="{'selected border-highlight':scroll >=0 && scroll <datasection }">Debt collection<br>and Account Management</a></li>
   <li><a href="#" [class.selected]="scroll >=datasection && scroll < propertysection">Data Purification</a></li>
   <li><a href="#" [class.selected]="scroll >=propertysection && scroll < litigationsection">Property<br>And Coneyancing</a></li>
   <li><a href="#" [class.selected]="scroll >=litigationsection && scroll < commercialsection">Litigation</a></li>
   <li><a href="#" [class.selected]="scroll >= commercialsection">Commercial Contract</a></li>
 </ul>
  </div>

  <div class="talk-div">
    <!-- <a href="#" class="talk talk-show">let's talk</a> -->
    <a class="btn btn-full talk talk-show" href="#"><span class="align-middle">Contact Us</span>
      <!-- <i class=" material-icons material-icons-outlined align-middle ">perm_phone_msg</i> -->
    </a>
  </div>

 </div>





<div class="services-title"><h2>Services</h2></div>


<section class="serv-section" #debt>
  <div class="container-fluid">
<div class=" row ">
  <div class="col-sm-12 col-md-5 serv-image">
    <div class="serv-img-div img-right">
      <div class="debt-image serv-the-image">
        <!-- <img src="..\assets\images\debtpic.jpg" alt="" class="img-debt"> -->
      </div>
    </div>


  </div>
<div class="col-sm-12 col-md-7 serv-text">

  <div class="serv-text-div">
  <div class="serv-text-title">
    <h3>
      Debt collection<br>and Account Management
    </h3>
  </div>
  <div class="serv-text-content" >
    <P data-aos="fade-left" data-aos-offset="300" data-aos-duration="800">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur modi fugiat magni, explicabo quas corporis inventore soluta officia. Possimus dignissimos adipisci vitae id temporibus molestiae dolorum dolore, impedit eum?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit corrupti repudiandae impedit asperiores cum nisi laborum doloribus natus, perferendis, cupiditate in modi ut laboriosam voluptatibus, itaque fugiat illo consequuntur blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fugiat eveniet porro id illum eaque vel totam commodi itaque maxime molestias expedita excepturi sapiente possimus provident ex odit, laudantium tempora.
    </P>
  </div>
  </div>
  </div>

</div>
</div>
</section>
<section class="serv-section data" #data>

  <div class="container-fluid">
    <div class=" row ">

      <div class="col-sm-12 col-md-7 serv-text">

        <div class="serv-text-div">
        <div class="serv-text-title">
          <h3>
            Data Purification
          </h3>
        </div>
        <div class="serv-text-content">
          <P data-aos="fade-right" data-aos-offset="200" data-aos-duration="800" data-aos-easing="ease-in-sine">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur modi fugiat magni, explicabo quas corporis inventore soluta officia. Possimus dignissimos adipisci vitae id temporibus molestiae dolorum dolore, impedit eum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit corrupti repudiandae impedit asperiores cum nisi laborum doloribus natus, perferendis, cupiditate in modi ut laboriosam voluptatibus, itaque fugiat illo consequuntur blanditiis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fugiat eveniet porro id illum eaque vel totam commodi itaque maxime molestias expedita excepturi sapiente possimus provident ex odit, laudantium tempora.
          </P>
        </div>
        </div>
        </div>

      <div class="col-sm-12 col-md-5 serv-image">
        <div class="serv-img-div img-left">
          <div class="data-image serv-the-image" data-aos="zoom-in">
            <!-- <img src="..\assets\images\debtpic.jpg" alt="" class="img-debt"> -->
          </div>
        </div>


      </div>


    </div>
    </div>

</section>
<section class="serv-section property" #property>

  <div class="container-fluid">
    <div class=" row ">
      <div class="col-sm-12 col-md-5 serv-image">
        <div class="serv-img-div img-right">
          <div class="property-image serv-the-image">
            <!-- <img src="..\assets\images\debtpic.jpg" alt="" class="img-debt"> -->
          </div>
        </div>


      </div>
    <div class="col-sm-12 col-md-7 serv-text">

      <div class="serv-text-div">
      <div class="serv-text-title">
        <h3>
          Property<br>And Coneyancing
        </h3>
      </div>
      <div class="serv-text-content">
        <P data-aos="fade-left" data-aos-offset="200" data-aos-duration="800">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur modi fugiat magni, explicabo quas corporis inventore soluta officia. Possimus dignissimos adipisci vitae id temporibus molestiae dolorum dolore, impedit eum?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit corrupti repudiandae impedit asperiores cum nisi laborum doloribus natus, perferendis, cupiditate in modi ut laboriosam voluptatibus, itaque fugiat illo consequuntur blanditiis.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fugiat eveniet porro id illum eaque vel totam commodi itaque maxime molestias expedita excepturi sapiente possimus provident ex odit, laudantium tempora.
        </P>
      </div>
      </div>
      </div>

    </div>
    </div>

</section>

<section class="serv-section litigation" #litigation>
  <div class="container-fluid">
    <div class=" row ">

      <div class="col-sm-12 col-md-7 serv-text">

        <div class="serv-text-div">
        <div class="serv-text-title">
          <h3>
            Litigation
          </h3>
        </div>
        <div class="serv-text-content">
          <P data-aos="fade-right" data-aos-offset="200" data-aos-duration="800">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur modi fugiat magni, explicabo quas corporis inventore soluta officia. Possimus dignissimos adipisci vitae id temporibus molestiae dolorum dolore, impedit eum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit corrupti repudiandae impedit asperiores cum nisi laborum doloribus natus, perferendis, cupiditate in modi ut laboriosam voluptatibus, itaque fugiat illo consequuntur blanditiis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fugiat eveniet porro id illum eaque vel totam commodi itaque maxime molestias expedita excepturi sapiente possimus provident ex odit, laudantium tempora.
          </P>
        </div>
        </div>
        </div>

      <div class="col-sm-12 col-md-5 serv-image">
        <div class="serv-img-div img-left">
          <div class="litigation-image serv-the-image"data-aos="fade-left" data-aos-duration="500" data-aos-easing="linear">
            <!-- <img src="..\assets\images\debtpic.jpg" alt="" class="img-debt"> -->
          </div>
        </div>


      </div>
    </div>
    </div>
</section>
<section class="serv-section commercial" #commercial>

  <div class="container-fluid">
    <div class=" row ">
      <div class="col-sm-12 col-md-5 serv-image">
        <div class="serv-img-div img-right">
          <div class="commercial-image serv-the-image">
            <!-- <img src="..\assets\images\debtpic.jpg" alt="" class="img-debt"> -->
          </div>
        </div>


      </div>
    <div class="col-sm-12 col-md-7 serv-text">

      <div class="serv-text-div">
      <div class="serv-text-title">
        <h3>
          Commercial Contract
        </h3>
      </div>
      <div class="serv-text-content">
        <P data-aos="fade-left" data-aos-offset="200" data-aos-duration="800">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem aspernatur modi fugiat magni, explicabo quas corporis inventore soluta officia. Possimus dignissimos adipisci vitae id temporibus molestiae dolorum dolore, impedit eum?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit corrupti repudiandae impedit asperiores cum nisi laborum doloribus natus, perferendis, cupiditate in modi ut laboriosam voluptatibus, itaque fugiat illo consequuntur blanditiis.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci fugiat eveniet porro id illum eaque vel totam commodi itaque maxime molestias expedita excepturi sapiente possimus provident ex odit, laudantium tempora.
        </P>
      </div>
      </div>
      </div>

    </div>
    </div>

</section>


