<div >

<header #header >
  
  <nav data-aos="fade-left" >
    <div id="container" >
   <div>
     <div class="logo-main">
  <img src="assets\images\pp-removebg.png" alt="" class="logo">
  <h1>TM<span class="title">Attorneys</span></h1>
  </div>
  <ul class="main-nav float-right">
    <li><a href="javascript:void(0);" [ngClass]="{'highlighted-home': headersection ==0  && scroll < servicesection  }"
      (click)="scrollToSection(header)"
      >Home</a></li>
    <li><a href="javascript:void(0);" [class.highlighted]="scroll >=servicesection && scroll <teamsection "
      (click)="scrollToSection(service)"
      >Services</a></li>
    <!-- <li class="navi-item drop">
      <a routerLink="services" class="dropdown-toggle nav-link" data-bs-toggle="drop">Services
        <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu1">
          <li><a class="dropdown-item1" routerLink="services/debtcollection">Debt Collection & Account Management  </a></li>
          <li><a class="dropdown-item1" routerLink="services/datapurification">Data Purification </a></li>
          <li><a class="dropdown-item1" routerLink="services/propertyandconeyancing">Property And Coneyancing </a></li>
          <li><a class="dropdown-item1" routerLink="services/">Litigation </a></li>
          <li><a class="dropdown-item1" routerLink="services/">Commercial Contract</a></li>
          </ul>

  </li> -->

    <li><a href="javascript:void(0);" [class.highlighted]="scroll >=teamsection && scroll < aboutsection"
      (click)="scrollToSection(team)"
      >TheTeam</a></li>
    <li><a href="#"[class.highlighted]="scroll >=aboutsection">About Us</a></li>
    <li><a href="#">Contact Us</a></li>

  </ul>
   </div>
  </div>
  </nav>


    <!-- <div class="header-text-box">
      <h2>Debt Collection & Account Management </h2>
      <hr>
      <h2>Data Purification</h2>
      <hr>
      <h2>Property And Coneyancing</h2>
      <hr>
      <h2>Litigation</h2>
      <hr>
      <h2>Commercial Contract</h2>

    </div> -->
 <div class="home-hero-shell" id="container">  
<div class="home-hero"data-aos="fade-right" data-aos-delay="300" >
    <div class="header-text-box" >

    <h1>Let Us Be Your Voice.</h1>
    <div class="headersub">
  <h3>
Effective Debt Collection and reliable Attorney Services
  </h3>
    </div>
    </div>
    <div class="headerbutton"  >
   
    <a class="btn btn-full" href="#"><span class="align-middle">Contact Us</span></a>
    <a class="btn btn-empty"href="#" routerLink="/services"><span class="align-middle">Learn More</span>
      <!-- <i class=" material-icons material-icons-outlined align-middle ">chevron_right</i> -->
    </a>
  </div>
     

   
  </div>
</div> 
    <!-- <div class="header-text-hype">
      <p> fefdff dvdgrgrg dvffrgrf </p>
      <hr>
      <p>yhdvfff grfgrg</p>
    </div> -->
<div class="partainers-shell" data-aos="fade-in" data-aos-delay="400" data-aos-offset="0">
  <div id="container" class="partainers">
  <div class="contacts">
    <div class="phone">
    <p><i class=" material-icons material-icons-outlined align-middle " style="margin-right:10px ;">blur_on</i> <span id="rotate">this</span></p>

    </div>
    

    </div>

<div class="partainers-logo">
<img class="part-logo" src="assets\images\tshwane logo.png">
<img class="part-logo" src="assets\images\new-logo-A4.png">
<img class="part-logo" src="assets\images\Setsoto_Transparent.png">
</div>
</div>
</div>



  </header>

  <div class="hero-float-btn" #float>
    <div class="floating-btn-wrapper"></div>
       <button class="btn2 btn-primary btn-white btn-talk" href="#" (click)="onRequest()">
         <img src="/assets/images/contact.svg" alt="project1" class="">
         
       
       </button>
     </div>
  <section class="section-services js--section-services boundaries" #service id="homeservices" >

  <!-- <p style="display:none;" id="ff">try</p> -->
    <!-- <h4 style="margin-top: 40px;">water drinkability </h4> -->
    <!-- <h4 class="titles" data-aos="fade-in"> Services </h4> -->
<div  class="sectionparagraph" data-aos="fade-right"   id="container" >
  <p>Tsotetsi & Mchungu Incorporated is a modern legal practice established to render
    high quality and exceptional services to clients
</p>
</div>


<div class="row">
  <div class="homeservices debt-service" data-aos="fade-right" >
    <div class="service-logo-div ">
      <img class="service-logo" src="assets\images\debt.png">
      <div class="service-logo-effect"></div>
    </div>
<div class="sevices-subtitles" >
  <h5>Debt Collection & Account Management </h5>
</div>
<div class="services-littlecontent" >
  <p  >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem quam, maxime molestiae consectetur totam ipsam,<br> alias labore dolores officiis itaque natus iure vitae laudantium facilis tempore? Totam delectus commodi nisi.</p>
</div>
</div>
</div>

<div class="row" id="container" >

    <div class="col-lg-3">

    <div class="homeservices" data-aos="fade-right" >
    <div class="service-logo-div">
      <img class="service-logo" src="assets\images\data-cleaning.png">
      <div class="service-logo-effect"></div>
    </div>

    <div class="sevices-subtitles">
      <h5>Data Purification</h5>
    </div>

    <div class="services-littlecontent">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam error totam odit atque architecto delectus sed alias ullam eum voluptatibus!</p>
    </div>




    </div>

      <!-- <div class="card">
  <a href="#">
    <div class="cardimage one">
      <img  src="../assets/images/call-center.jpg">
      <div class="cardtitle">
        <h5>Debt Collection & Account Management </h5>
      </div>
      </div>
  </a>


      </div> -->
   </div>

   <div class="col-lg-3">

    <div class="homeservices" data-aos="fade-right" data-aos-delay="100">
      <div class="service-logo-div">
        <img class="service-logo" src="assets\images\property.png">
        <div class="service-logo-effect"></div>
      </div>

      <div class="sevices-subtitles">
  <h5>propertyandconeyancing</h5>
      </div>

      <div class="services-littlecontent">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In eius perspiciatis facilis? Rem accusantium unde hic illo. Omnis deserunt porro voluptatum labore </p>
      </div>




      </div>

<!--
    <div class="card">

      <div class="cardimage two">
      <img  src="../assets/images/data.jpg">
      <div class="cardtitle">
        <h5>Data Purification</h5>
      </div>
      </div>
    </div> -->
  </div>

  <div class="col-lg-3">

    <div class="homeservices" data-aos="fade-right" data-aos-delay="200">
      <div class="service-logo-div">
        <img class="service-logo" src="assets\images\litigation.png">
        <div class="service-logo-effect"></div>
      </div>
      <div class="sevices-subtitles">
<h5>Litigation</h5>
      </div>

      <div class="services-littlecontent">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique repudiandae ratione culpa explicabo ullam vel perspiciatis. Fugit molestias fuga animi </p>
      </div>




      </div>
  </div>
   <div class="col-lg-3">

    <div class="homeservices" data-aos="fade-right" data-aos-delay="300" >
      <div class="service-logo-div">
        <img class="service-logo" src="assets\images\contract.png">
        <div class="service-logo-effect"></div>
      </div>
      <div class="sevices-subtitles" >
<h5>Commercial Contract</h5>
      </div>

      <div class="services-littlecontent">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, minima atque impedit, iusto corporis temporibus nisi explicabo, repudiandae illo nostrum </p>
      </div>




      </div>

  </div>


  </div>
  <div class="buttonattribute" data-aos="fade-in">
    <a class="btn btn-full align-middle" href="/services"><span >Learn More</span> </a>
  </div>
    </section>

  <section class="section-team " #team  >
  <div class="row team-section-title">
    <h4  class="titles"> Meet the Team </h4>
  </div>
  <div class="row team-row " id="container">

    <div  class="col-md-3 team-card"  *ngFor="let profile of profiles">

      <div class="team-card-div "
      (click)="onClick(profile.id)">
       <!-- <div class="circle"></div> -->
       <div class="background-image  background"
       [ngStyle]="{'background-image': 'url(' + profile.picturelink + ')'}"
       >
      </div>
       <div class="white-background">
         <div class="circle-anim"></div>
         <div class="circle">
          <i class=" material-icons material-icons-outlined circle-icon">arrow_right_alt</i>
         </div>
        <div class="text-team movetext-from-down">
          <p class="name">{{profile.name}}</p>
          <p class="position">{{profile.title}}</p>
        </div>
       </div>
      </div>

    </div>


    <!-- <div col-md-3 class="team-card">

      <div class="team-card-div " (click)="onClick()">

       <div class="background-image background1"></div>
       <div class="white-background">
         <div class="circle-anim"></div>
         <div class="circle">
          <i class=" material-icons material-icons-outlined circle-icon">arrow_right_alt</i>
         </div>
        <div class="text-team movetext-from-down">
          <p class="name">Peter Tsotetsi</p>
          <p class="position">Managing Director</p>
        </div>
       </div>
      </div>

    </div>
    <div col-md-3 class="team-card">

      <div class="team-card-div  ">

        <div class="background-image background2"></div>

        <div class="white-background">
          <div class="circle-anim"></div>
          <div class="circle">
           <i class=" material-icons material-icons-outlined circle-icon">arrow_right_alt</i>
          </div>
         <div class="text-team movetext-from-down">
           <p class="name">Stanley Mohapi</p>
           <p class="position">Call Center Manager</p>
         </div>
        </div>
       </div>

    </div>

    <div col-md-3 class="team-card">

      <div class="team-card-div ">

        <div class="background-image background3"></div>
        <div class="white-background">
          <div class="circle-anim"></div>
          <div class="circle">
           <i class=" material-icons material-icons-outlined circle-icon">arrow_right_alt</i>
          </div>
         <div class="text-team movetext-from-down">
           <p class="name">David Mothobi</p>
           <p class="position">Field Agent</p>
         </div>
        </div>
       </div>

    </div>

    <div col-md-3 class="team-card">

      <div class="team-card-div ">

        <div class="background-image background4"></div>
        <div class="white-background">
          <div class="circle-anim"></div>
          <div class="circle">
           <i class=" material-icons material-icons-outlined circle-icon">arrow_right_alt</i>
          </div>
         <div class="text-team movetext-from-down">
           <p class="name">Arsene Mahiya</p>
           <p class="position">IT Manager</p>
         </div>
        </div>
       </div>

    </div> -->









  </div>
  </section>

  <section class="section-aboutus" #about>
   

    <div id="container" class="about-us-div" >
      <div class="row align-items-center ">
        <!-- <div class="col-md-5 col-xl-5">
          <img src="/assets/img/home/ipone.png" alt="project2" class="img-fluid">
        </div> -->
        <div class="col-lg-7 pt-5  ">
          <img src="/assets/images/our-vision.jpg" alt="project2" class="img-fluid mb-5 about-us-img">
        </div>
        <div class="col-lg-5 mb-3 mt-5  col-vision" >
          <h2 class="vision-header">Our vision</h2>
          <div class="vision-text">We believe that the world is heading towards the “internet of you”.
            Underpinned by 3 layers of technology. Blockchain, AI, and VR/AR.</div>


          <!-- <h2 class="mr-lg-5">An application that will change your way of thinking</h2> -->

          
<!--
          <a [routerLink]="['/project', '2']" class="btn btn-outline-light">
            View project
          </a> -->

          <!-- <h2 class="mr-lg-5">Our vision</h2>
          <div class="mr-lg-5">
            <div class="mr-lg-5">
              We believe that the world is heading towards the “internet of you”.
              Underpinned by 3 layers of technology. Blockchain, AI, and VR/AR.
            </div>
            <div class="mr-lg-5">
              Brands and businesses are rushing in, but a lack of technical expertise
              and knowledge in the space is leading to a lot of confusion and poorly executed projects.
              Most see web3 as a fad, we see it as the future of the Internet.
            </div>
          </div> -->

          <div class="card border-0 testimonial mb-6 " [ngSwitch]="number" >
            <div class="card-body media" *ngSwitchCase="1" [@enterTrigger]="left? 'fadeInleft':'fadeIn'">
              
              <img src="/assets/images/peter7.png" class="mb-10 mr-3 rounded-circle" alt="...">
              <div class="media-body text-left">
                <h6 class="mt-0 card-name">Peter <span >Managing diretor</span></h6>
                <p class="card-text">Brands and businesses are rushing in, but a lack of technical expertise
                  and knowledge in the space is leading to a lot of confusion and poorly executed projects.
                  Most see web3 as a fad, we see it as the future of the Internet.</p>
              </div>
            </div>

            <div class="card-body media" *ngSwitchCase="2" [@enterTrigger]="left? 'fadeInleft':'fadeIn'">
              
              <img src="/assets/images/stan2.png" class="mb-10 mr-3 rounded-circle" alt="...">
              <div class="media-body text-left">
                <h6 class="mt-0 card-name">stan <span class="font-weight-normal">call center</span></h6>
                <p class="card-text">Brands and businesses are rushing in, but a lack of technical expertise
                  and knowledge in the space is leading to a lot of confusion and poorly executed projects.
                  Most see web3 as a fad, we see it as the future of the Internet.</p>
              </div>
            </div>

            <div class="card-body media" *ngSwitchCase="3" [@enterTrigger]="left? 'fadeInleft':'fadeIn'">
              
              <img src="/assets/images/tebza-meh2.png" class="mb-10 mr-3 rounded-circle" alt="...">
              <div class="media-body text-left">
                <h6 class="mt-0 card-name">Tebogo <span class="font-weight-normal"></span></h6>
                <p class="card-text">Brands and businesses are rushing in, but a lack of technical expertise
                  and knowledge in the space is leading to a lot of confusion and poorly executed projects.
                  Most see web3 as a fad, we see it as the future of the Internet.</p>
              </div>
            </div>

            <button class="back" (click)="changecardback()" [disabled]="number===1"><i class="  material-icons material-symbols-outlined">
              
              arrow_back_ios
            </i>
              </button>
            <button class="forward" (click)="changecardforw()" [disabled]="number===3"><i class="  material-icons material-symbols-outlined">
              
              arrow_forward_ios
              
            </i>
          </button>
          <!-- <i class=" material-icons material-icons-outlined align-middle ">chevron_right</i> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="custom-shape-divider-bottom-1613737599">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M741,116.23C291,117.43,0,27.57,0,6V120H1200V6C1200,27.93,1186.4,119.83,741,116.23Z" class="shape-fill"></path>
      </svg>
  </div> --> 

  </section>
 <section class="footer">
  <div class="footer-title"></div>
  <div class="footer-svg-background">

  </div>
<div class="footer-shell" id="container">
  
  <div class=" row footer-title">
    <div class="col-sm-12">
      <div class="logo-main" style="margin-top: 30px;margin-bottom: 5px;">
        <img src="assets\images\pp-removebg.png" alt="" class="logo">
        <h1>TM<span class="title">Attorneys</span></h1>
        </div>
    </div>
  </div>
  <div class=" row footer-middle">
    <!-- <div class="col-sm-4"><p>we make things easier</p></div>
    <div class="col-sm-4">
      <p style="margin-bottom: 20px;">our address</p>
      <p>12 vanderbidilpark corner road and cl</p>
    </div>
    <div class="col-sm-2 follow" >
      <p style="margin-bottom: 20px;">follow us</p>
      <p><span style="margin-right:5px ;"><i class="  material-icons material-symbols-outlined">facebook</i></span> 
        <span style="margin-right:5px ;"><i class="  material-icons material-symbols-outlined">facebook</i></span>
        <span><i class="  material-icons material-symbols-outlined">facebook</i></span>
      </p>
    </div>
    <div class="col-sm-2 call">
      <p style="margin-bottom: 20px;">Call us</p>
      <p>016 345 443</p>
    </div> -->

 
    <div class="middle-1"><p>we make things easier</p></div>
    <div class="middle-2">
      <!-- <p style="margin-bottom: 10px;">our address</p>
      <p>12 vanderbidilpark corner road and cl</p> -->
    </div>
    <div class="middle-3 follow" >
      <p style="margin-bottom: 3px;margin-left: 4px!important;">follow us</p>
      <p><span style="margin-right:5px ;margin-left: 0!important;"><i  style="margin-left: 0!important;" class=" material-icons material-symbols-outlined">facebook</i></span> 
        <span style="margin-right:5px ;"><i class="  material-icons material-symbols-outlined">facebook</i></span>
        <span><i class="  material-icons material-symbols-outlined">facebook</i></span>
      </p>
    </div>
    <div class="middle-4 call">
      <p style="margin-bottom: 10px;">Call us</p>
      <p>016 345 443</p>
    </div>

    

  </div>
  <div class=" row footer-bottom">
    <!-- <div class="col-sm-6"><p>
      ijdijid iojdfiodjfidjf oidsfoidoifodkfodkf odkfodkfodof opkfodkfodf
    </p></div>
    <div class="col-sm-3"> privacy polycy term and conditions</div>
    <div class="col-sm-3 middle-2">
      <p style="margin-bottom: 10px;">our address</p>
      <p>12 vanderbidilpark corner road and cl</p>
    </div> -->

    <div class="bottom-1"><p>
      ijdijid iojdfiodjfidjf oidsfoidoifodkfodkf odkfodkfodof opkfodkfodf
    </p>
    <div class=""> privacy polycy term and conditions</div>
  </div>
  
    <div class="bottom-2">
      <p style="margin-bottom: 10px;">our address</p>
      <p>12 vanderbidilpark corner road and cl</p>
    </div>
    
  </div>
  
</div>

 </section>

</div>